.home #logo {
  width: 300px;
}

.home #mainNav button:last-child {
  margin-left: 10px;
}

.home h1 {
  font-family: 'Garamond', sans-serif;
  color: #ffffff;
}

.home h2 {
  font-family: 'Garamond', sans-serif;
  margin-bottom: 100px;
}

.home h3.custom-h3 {
  font-family:'Garamond', sans-serif;
  margin-bottom: 1px;
}

.home h3.custom-h3-2 {
  font-family:'Georgia';
  color: var(--rosa);
  animation: rotateText 4s infinite linear; /* 5s es la duración de la animación, ajusta según tus preferencias */
  transform-origin: center;
  display: inline-block; /* Esto evita que la rotación afecte el layout */
  font-size: 30px;
}

@keyframes rotateText {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}