/* Estilos globales */

:root {
  --darkpurple: rgb(102, 8, 74);
  --violet: rgb(201, 19, 146);
  --rosa: rgb(240, 85, 106);
  --verde: rgb(61, 221, 61);
  --blancotrans: rgba(255, 255, 255, 0.781);
  --grisecito: rgb(190, 170, 170);
}

body {
  background-color: var(--darkpurple);
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
}


